@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --textcolor: #f5f5f5;
  --background: #000000;
}

body {
  color: var(--textcolor);
  background: var(--background);

  button{
    cursor: pointer;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
